.Rproj.user
.Rhistory
.RData
WIRDS/datasets/diagnozaGospodarstwa2011.RData
WIRDS/datasets/diagnozaGospodarstwa2011Opis.txt
WIRDS/handouts/Materialy_WIRDS_Lukasz.zip
WIRDS/2014-2015/datasets/gospodarstwa.xls
REMA/2014-2015/final_projects/
